.metadata/
CTI_77G/.metadata/
CTI_77G/images/
CTI_77G/CTI_77G_Z4/.settings/
CTI_77G/CTI_77G_Z4/Debug/
CTI_77G/CTI_77G_Z7_0/.settings/
CTI_77G/CTI_77G_Z7_0/Debug/
CTI_77G/CTI_77G_Z7_1/.settings/
CTI_77G/CTI_77G_Z7_1/Debug/
CTI_77G/Bootloader_ISO/.settings/
CTI_77G/Bootloader_ISO/Debug/
CTI_77G/Modules/